body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9%;
}
.contact-form{
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    align-items: center;
}
h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #333;

}
.form-group{
    margin-bottom: 20px;

}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}
input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
    box-sizing: border-box;
    resize:vertical ;
}
button{
    display: block;
    margin: auto;
    background-color: green;
    color: white;
    border: done;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 17;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
button:hover{
    background-color: green;
}